<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShowTime</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Todo List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xo">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Game
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TestRepoGetAll">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TestRepoGetAll
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getbands">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bands
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addbands">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> AddBands
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="festivals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Festivals
            </NavLink>
        </div>
    </nav>
</div>

